<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title th:text="${titulo}"></title>
</head>
<body>
<!-- MENU DE NAVEGACION -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Tienda en linea</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">						
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/cliente/listar}">Clientes <span class="sr-only">(current)</span></a>
				</li>
				
				<li class="nav-item"><a class="nav-link" th:href="@{/index}"></a>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">Selecciona algun Producto</h1>
		<!-- INICIO FORMULARIO -->
		<form class="row g-3" method="post" th:action="@{/pedido/guardar/}+${clienteId}" th:object="${pedidoNuevo}">
		<!-- TABLA DE PRODUCTOS -->
		<table class="table table-striped table-bordered">
			<thead class="thead-inverse thead-dark">
				<tr>
					<th>Seleccion</th>
					<th>ID</th>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Precio</th>
					<th>Piezas Disponibles</th>
					<th>Estado</th>
					<th>Info. P Adicional</th>
					<th>Id_Vendedor</th>
					<th>Piezas</th>
				</tr>
			</thead>
			<tbody>
				<!-- para iterar una lista con foreach en thymeleaf -->
				<!-- se usa th:each -->
				<tr th:each="p : ${listaProductos}">
				<td><input type="checkbox" th:name="id" th:value="${p.id}" /></td>
				<td th:text="${p.id}" name="id" th:value="${p.id}"><!-- th:type="hidden"  --></td>
				<td th:text="${p.nombre}"></td>
				<td th:text="${p.descripcion}"></td>
				<td th:text="${p.precio-((p.precio*p.descuento)/100)}"></td>
				<td th:text="${p.numPiezas}"></td>
				<td th:text="${p.estado}"></td>
				<td th:text="${p.informacionAdicional}"></td>
				<td th:text="${p.vendedor.id}"></td>
				<td ><input style="width: 100px" type="number" name="numpiezas"></td>
				</tr>
			</tbody>
			</table>
		<!-- TABLA DE PRODUCTOS -->
		<br>
			<!-- DATOS DEL PEDIDO -->
			<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">	Datos del Pedido </h1>
			<div class = "container">
				<label>Fecha del pedido</label><br>		
				<input style="width: 300px; height: 40px" type="text" th:value="${horaActual}" class="form-control" readonly="readonly">
				
				<!--<label>Estado</label>
				<select style="width: 240px; height: 40px" name="estado" class="custom-select col-lg-4 m-2">
							<option disabled="" th:selected>Elige una opcion</option>
							<option th:value="1" th:selected="true">Activo</option>
							<option th:value="0" th:selected="false">Inactivo</option>
				</select>-->
				<br/>
				<label>Informacion Adiconal Pedido</label>
				<input type="text" name="infoAdicional" style="width: 300px; height: 40px"class="form-control" required = required/>
			</div>
			<!-- DATOS DEL PEDIDO -->
			
			<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">	Datos de la Entrega </h1>
			<div class = "container">
				<br/>
				
				<label>Fecha de Entrega</label>		
				<input style="width: 300px; height: 40px" type="date" name="fechaDeEntrega" id="fechaDeEntrega" class="form-control" required = required/>
				
				<label>Hora de Entrega</label>		
				<input style="width: 300px; height: 40px" type="time" th:name="horaDeEntrega" name="horaDeEntrega" class="form-control" required = required/>
				
				<label>Punto de  Entrega</label>		
				<input style="width: 300px; height: 40px" type="text" name="puntoEntrega" class="form-control" required = required/>
				
				<label>Notas Adicionales</label>
				<input style="width: 300px; height: 40px" type="text" name="notasAdicionales" class="form-control" required = required/>
				
				<br/>
			</div>
			<input type="submit" value="Generar Pedido" class = "btn btn-primary" style=" width: 15%; margin-left: 10%"/><br>
		</form>
		<br/><center><a class="btn btn-danger btn-xs" th:href="@{/cliente/pedidos/}+${clienteId}">Cancelar</a></center>
	</div>
</body>
</html>